/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache
.rnd
/database/database.*
.env.dusk.local
_ide_helper.php
.DS_Store
/mysql
/app/storage/attachment/avatar/
/redis
/socket/socket
